@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

$primary: #353535;
$secondary: #1b55fe;
$tertiary: #ffffff;
$quaternary: #272727;
$quinternary: #6b6b6b;
$six: rgb(220, 28, 28);

* {
  font-family: 'Atkinson Hyperlegible', sans-serif;
}

:root {
  --typewriterSpeed: 2s;
  --typewriterCharacters: 15;
}



body {
  background-color: $tertiary;
  color: $secondary;
}

// ? Landing Page
.landing-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: $tertiary;
  color: $secondary;
  padding: 0px;

  .lp-img {
    padding-left: 40px;
  }

  .intro-lp {
    display: flex;


    .lp-text {
      display: flex;
      // align-items: center;
      justify-content: center;
      flex-direction: column;

      .lp-title {
        font-size: clamp(1rem, 3vw + 1rem, 4rem);
        position: relative;
        font-family: "Source Code Pro", monospace;
        position: relative;
        width: max-content;
      }
    }

    .lp-title::before,
    .lp-title::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .lp-title::before {
      background: $tertiary;
      animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards;
    }

    .lp-title::after {
      width: 0.125em;
      background: $tertiary;
      animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1s forwards,
        blink 1000ms steps(var(--typewriterCharacters)) infinite;
    }

    .subtitle {
      color: black;
      font-size: 1.5rem;
      font-weight: 400;
      opacity: 0;
      transform: translateY(3rem);
      animation: fadeInLeft 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
    }

    .subtitle-2 {
      color: black;
      font-size: 1.5rem;
      font-weight: 400;
      opacity: 0;
      transform: translateY(3rem);
      animation: fadeInLeft 2s ease calc(var(--typewriterSpeed) + 4s) forwards;
    }

    @keyframes typewriter {
      to {
        left: 100%;
      }
    }

    @keyframes blink {
      to {
        background: $quinternary;
      }
    }

    @keyframes fadeInUp {
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    @keyframes fadeInLeft {
      0% {
        opacity: 0;
        transform: translateX(-20px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  .lp-icon-container {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    border-top: 4px solid $secondary;
    border-bottom: 4px solid $secondary;

    #icon-container {
      display: flex;
      justify-content: center;
      width: 33%;

      .icon {
        padding: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon-text {
          padding-top: 10px;
          color: #272727;
          font-size: 15px;
          text-align: left;
          text-justify: inter-word;
        }
      }
    }
  }
}

.lp-login-register-container {
  display: flex;
  justify-content: space-evenly;

  .lp-second-image-container {
    border: 3px solid $secondary;
    border-radius: 50%;
    padding: 100px;
    margin: 40px 80px 80px 0px;
  }

  .lp-info-button-container {
    margin: 100px 20px 80px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .lp-info-text {
      color: $primary;
      font-size: 18px;
    }

    .button-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

#lp-btn {
  margin-top: 15px;
  border: 2px solid $secondary;
  background-color: $secondary;
  color: $tertiary;
  min-width: 110px;
  max-width: 300px;
}

#lp-btn:hover {
  background-color: $tertiary;
  color: $secondary;
}

.navbar-container {
  background-color: $tertiary;
  border-bottom: 2px solid $secondary;
}




// ? CRUD Forms
.form-main {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  background-color: $tertiary;
}

.form-header,
.form-titles {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px
}

.form-titles {
  font-size: 1.5rem;
  margin-left: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  // align-items: center;
  margin: 30px;
  // width: 300px;
  padding: 0px 10px 20px 10px;
  border-radius: 18px;
  background-color: $tertiary;
  border: 1px $quinternary;

  .form-fields {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 2px solid $quaternary ;
    padding: 30px;
  }

  form {
    // width: 80%;

    select {
      display: flex;
      margin-left: 20px;
      margin-right: 20px;
      font-family: 'Roboto Slab', serif;
      color: $secondary;
      border: 1px lightgrey solid;
      line-height: 1;
      padding: 10px;
      border-radius: 4px;
      background-color: $tertiary;
      justify-content: flex-start;
    }


    label {
      text-align: center;
      color: $tertiary;
    }

    #imageupload {
      font-family: 'Roboto Slab', serif;
      color: grey;
      border: 1px lightgrey solid;
      line-height: 1;
      padding: 10px;
      border-radius: 4px;
      background-color: white;
      width: 100%;
      margin-bottom: 20px;

    }

    input {
      width: 100%;
      background-color: white;
      border-color: 1px red !important;
    }
  }

  .btn {
    margin-top: 30px;
    align-self: flex-end;
    background-color: $secondary;
    border: 2px solid $secondary;
  }

  .btn:hover {
    background-color: $tertiary;
    color: $secondary;
  }

}

legend {
  font-weight: 10px;
}

legend {
  font-weight: 10px;
}

// .single-page-row {
//   display: inline-block;
// }
// .props-name-container {
//   color: $tertiary;
// }

// .props-name {
//   color: $secondary;
// }

.single-page-container {
  display: flex;
  justify-content: center;
  // flex-shrink: calc();
  flex: 1;
}


// ? Profile Page

.profile-page-container {
  min-height: 100vh;
}

.profile-container {
  .user-profile-content {
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    .profile-industry {
      color: black;
    }

    .single-page-hr {
      color: $secondary;
      background-color: #1b55fe;
      min-width: 100%;
      min-height: 2px;
    }
  }

  .user-profile-bio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .profile-bio {
      font-size: 1em;
      color: $primary;
      text-align: start;
    }
  }

  .profile-btn {
    border: 2px solid $six;
    background-color: $six;
    color: $tertiary;
  }

  .profile-btn:hover {
    background-color: $tertiary;
    color: $six;
  }
}


.profile-page-app-title {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  .profile-btn {
    border: 2px solid $secondary;
    background-color: $secondary;
    color: $tertiary;
  }

  .profile-btn:hover {
    background-color: $tertiary;
    color: $secondary;
  }
}



.profile-app-name {
  padding-top: 20px;
}


.review-profile-item {
  display: flex !important;
  justify-content: space-between;

  .profile-app-content {
    display: flex;
  }

  #del2-btn {
    font-size: 2rem;
  }

  #del2-btn:hover {
    color: red;
    text-decoration: solid;
    font-size: 2.2rem;
  }
}

.list-group-item {
  max-height: 150px;
  min-height: 120px;

  .profile-app-image {
    max-height: 100px;
  }
}

.user-reviews {
  margin-bottom: 30px;
}

// ? Footer

.footer-container {
  border-top: 1px solid $secondary;
}

@media (max-width: 992px) {
  .lp-img {
    display: none;
  }

  .landing-page {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .intro-lp {
    margin-top: 40px;
    justify-content: center;
    text-align: center;
  }

  .lp-text {
    align-items: center;
  }

  .subtitle,
  .subtitle-2 {
    font-size: 18px !important;
  }

  .lp-second-image-container {
    display: none;
  }

  #lp-btn {
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .lp-icon-container {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .icon {
    padding: 0px !important;
    margin: 0px;
  }
}

@media (max-width: 576px) {
  .site-info-container {
    margin-left: 50px;
  }

  .lp-info-text {
    font-size: 12px;
  }

  .subtitle,
  .subtitle-2 {
    font-size: 14px !important;
  }

}